* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    
}
main{
    width: 100%;
}
.container{
    max-width: 1199px;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    z-index: 1;
    width: 100%;
    min-height: 83px;
    background: linear-gradient(180deg, #EBEAEC 37.48%, rgba(235, 234, 236, 0) 86.43%);
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    line-height: 21px;
    min-height: 206px;
}
.header_menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;
}
.menu{
    max-width: 1920px;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li a{
    width: 100px;
    height: 21px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 40px;
    text-decoration: none;
    color: #000;
}

.menu__link{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: black;
    /* padding: 10px; */
    
    transition: 0.5s background-color ease-in-out,
                0.2s color ease-in-out,   
                0.5s transform ease-in-out;
}
.menu a{
    position: relative;
    color: black;
    cursor: pointer;
    line-height: 1px;
    text-decoration: none;

}
.menu a::after{
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #D38B13;
    content: "";
    transition: 0.5s width ease-in-out;
}
.menu a:hover:after, menu a:focus:after{
    width: 100%;
}
.logo{
    width: 227px;
    height: 60px;
    margin-right: 50px;
    margin-bottom: 25px;
}
.logo img{
    width: 100%;
}
.menu__link:hover,
.menu__link:focus{
    color: #D38B13;
    transition: 1s background-color ease-in-out,
                0.2s color ease-in-out,
                /* 0.1s box-shadow ease-in-out, */
                0.5s transform ease-in-out;
    
 
}
.btn{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    width: 101px;
    height: 20px;
    background-color:#EE7700;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 56px;
    gap: 10px;
    background: #EE7700;
    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);
    border-radius: 0px 24px 24px 24px;
    width: 213px;
    height: 46px;
    border: none;
    margin-top: 35px;
    margin-bottom: 45px;
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}
.btn:hover,
.btn:focus{
    transition: 0.2s box-shadow ease-in-out,
                0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
.bg{
    background-image: url('../img/Bg.png');
    background-position: center;
    background-color: #eaeaee;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 962px;
}
.gg{
    position: relative;
    top: 5px;
}
.st{
    color:#1F1F1F;
    width: 10px;
    height: 5px;
    margin-bottom: 3px;
}
.phone{
    color: #1F1F1F;
    text-decoration: none;
    font-size: 16px;
    font-family:'Montserrat';
    line-height: 24px;
    
}
.phone:hover{
    transition: 0.5s all;
    color:#D38B13;
}
.icon_tlf{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    padding-top: 1px;

}

.call{
    text-decoration: none;
    margin: 0;
    color: #1F1F1F;
    display: block;
    margin-left: 55px;
    font-size: 12px;  
    transition: 0.2s color ease-in-out;

}

.call:hover,
.call:focus{
    transition: 0.5s all;
    color: #D38B13;
    text-decoration: underline dotted #D38B13;
    transition: 0.2s color ease-in-out,
                1s text ease-in-out;
    min-width: 82px;
}
.block2 p{
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 121.9%;
    color:#2F2F2F;
} 
.block2{
    max-width: 493px;
}
.block2 h1{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 50.78px;
    font-weight: bold;
    color:#2F2F2F;
    margin-top: 24px;
}
.block2 h2{
    margin-top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.4%;
    color: #2F2F2F;
}
.locazia img{
    width: 100%;
    height: 100%;
}
.locazia{
    margin-right: 8px;
}
.section4{
    min-height: 843px;
    margin: 0 auto;

    /* линейный градиент №1 */

    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 65.75%, rgb(238,119,0,1) 65.75%);


    /* линейный градиент №2 */

    /* background: rgb(255,255,255);  */
    /* background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(238,119,0,1) 73%, rgba(238,119,0,1) 100%); */

}
.tester{
    margin: 0 auto;
    max-width: 1920px;
    background-image: url(../img/orange2.png);
    background-position: right;
    background-repeat: no-repeat;
    
}
.btn2{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    background-color:#EE7700;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 56px;
    gap: 10px;
    background: #EE7700;
    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);
    border-radius: 0px 24px 24px 24px;
    width: 208px;
    height: 48px;
    border: none;
    transition: 0.3s box-shadow ease-in-out,
    0.3s background-color ease-in-out;
}
.btn2:hover,
.btn2:focus{
    transition: 0.2s box-shadow ease-in-out,
    0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
.block3{
    max-width: 460px;
    padding: 278px 0;
}
.block3 h2{
    width: 421px;
    height: 112px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin-bottom: 16px;
}
.block3 p{
    width: 458px;
    height: 78px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.4%;    
    color: #2F2F2F;
    margin-bottom: 33px;
}
.con{
    display: flex;
    align-items: center;  
    justify-content: space-between;

}
.plate img{
    padding-left: 150px;
    float: right;
}
.chiken{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 307px;
    height: 221px;
    left: 500px;
    top: 510px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.11);
    border-radius: 0px 33px 33px 33px;
    padding-left: 38px;
    padding-top: 27px;
}
.chiken h2{
    width: 232px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin-bottom: 8px;
} 
.chiken p{
    width: 196px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155.4%;
    color: #2F2F2F;
    margin-bottom: 14px;
}
.slova h2{
    width: 54px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 121.9%;
    text-align: center;
    color: #EE7700;
    margin-bottom: 18px;
}
.check{
    display: flex;
    flex-direction: row;
}
.strela{
    margin-right: 1px;
    margin-top: 5px;
}
.btn3{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155.4%;
    color: #2F2F2F;
    border: none;
    background-color:rgb(235, 234, 236, 0);
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155.4%;
    color: #2F2F2F;
    transition: 0.4s color ease-in-out;
}
.btn3:hover,
.btn3:focus{
    color: #EE7700;
    transition: 0.3s color ease-in-out;
}

.slova img{ 
    margin-left: 5px;
    width: 20px;
    height: 15px;
}
.slider{
    display: flex;
    grid-gap: 6px;
    flex-direction: row;
    justify-content: end;
    margin-right: 25px;
    margin-top: 10px;

}
.slider img{
    width: 46px;
    height: 46px;   
}
.btngreen{
    
    display: block;
    background: #82BC00;
    border-radius: 22.7836px;
    transform: rotate(360deg);
    border: none;
    width: 46px;
    height: 46px;
    background-image: url(../img/vnutri.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.btngreen:hover,
.btngreen:focus{
    border-radius: 22.7836px;
    transition: 0.3s box-shadow ease-in-out;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.334);
}
.bntorange{
    display: block;
    background: #EE7700;
    border-radius: 22.7836px;
    transform: rotate(180deg);
    border: none;
    width: 46px;
    height: 46px;
    background-image: url(../img/vnutri.svg);
    background-repeat: no-repeat;
    background-position: center;   
}

.tester2{
    margin: 0 auto;
    max-width: 1920px;
    padding: 10px;
}
.section5{
    min-height: 799px;
}
.slider3 {
    position: relative;
    width: 1179px;
    overflow-x: hidden;
}
.slider3__list{
    display: flex;
    transition: transform 2s;
}
.slider3__item{
    flex-shrink: 0;
    width: 380px;
    border: none;
    padding: 5px;
    margin: 5px;
}
.slider3__img{
    border-radius: 10px;
    width: 100%;
}
.slider3__btn_1{
    display: block;
    background: #82BC00;
    border-radius: 22.7836px;
    transform: rotate(360deg);
    border: none;
    width: 46px;
    height: 46px;
    background-image: url(../img/vnutri.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.slider3__btn_2{
    display: block;
    background: #EE7700;
    border-radius: 22.7836px;
    transform: rotate(180deg);
    border: none;
    width: 46px;
    height: 46px;
    background-image: url(../img/vnutri.svg);
    background-repeat: no-repeat;
    background-position: center;   
}
.slider3__btn--next{
    right: 0px;
}
.slider3__btn--prev{
    left: 0px;
}
.wrapper{
    margin: 0 auto;
    max-width: 1920px;
}
.swiper{
    display:flex;
    margin: 13px;
    flex-direction: row;
    justify-content: end;
    margin-right: 25px;
    grid-gap: 6px;
}
.slider3__btn_1{
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}
.slider3__btn_1:hover,
.slider3__btn_1:focus{
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484);
    background-color: #91d401;
}

.slider3__btn_2{
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}
.slider3__btn_2:hover,
.slider3__btn_2:focus{
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484);
    background-color: #E86100;
}
.card3{
    background: url(../img/card3.jpg);
    width: 380px;
    height: 239px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 28px;
}
.card3 a{
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.card3_silki{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 316px;
    height: 59px;
    border-radius: 5px;
    padding: 18px 0;
    box-shadow: none;
    transition: 0.3s box-shadow ease-in-out;
}
.card3_silki:hover,
.card3_silki:focus{
    transition: 0.3s box-shadow ease-in-out;
    box-shadow:0px 0px 30px #EE7700;
}
.icon3 {
    width: 27px;
    height: 17px;
    margin-right: 10px;
    margin-left: 15px;
}
.strelka3{
    margin-top: 2px;
    margin-left: 72.24px;
    height: 17px;
}

.card4{
    background: url(../img/card4.jpg);
    width: 380px;
    border-radius: 10px;
    height: 239px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 28px;
}
.card4 a{
    text-decoration: none;
    width: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.icon4{
    width: 28px;
    height: 24.39px;
    margin-right: 10px;
    margin-left: 15px;
}
.strelka4{
    margin-top: 2px;
    margin-left: 72.24px;
    height: 17px;
}

.card5{
    background: url(../img/card5.jpg);
    width: 380px;
    height: 239px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 28px;
}
.card5 a{
    text-decoration: none;
    width: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.icon5{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-left: 15px;
}
.strelka5{
    margin-top: 2px;
    margin-left: 72.24px;
    height: 17px;
}


.card2{
    background: url(../img/card2.jpg);
    width: 380px;
    height: 239px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 28px;
}
.card2 a{
    text-decoration: none;
    width: 151px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.icon2{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-left: 15px;
}
.strelka2{
    margin-top: 2px;
    margin-left: 72.24px;
    height: 17px;
}

.card1{
    background: url(../img/card1.jpg);
    width: 380px;
    height: 239px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 28px;
}
.card1 a{
    text-decoration: none;
    width: 151px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.icon1{
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-left: 15px;
}
.strelka1{
    margin-top: 2px;
    margin-left: 72.24px;
    height: 17px;
}

/* --------------------------------------- */
.bluda h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.bluda{
    display: flex;
    margin-top: 107px;
    align-items: baseline;
    flex-direction: row;
    justify-content: space-between;
}
.bluda li{
    list-style-type: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.menu_bluda{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.menu_bluda li{
    position: relative;
    color: black;
    cursor: pointer;
    line-height: 1px;
    text-decoration: none;
}
.menu_bluda li::after{
    margin-top: 15px;
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #D38B13;
    content: "";
    transition: 0.5s width ease-in-out;
}
.menu_bluda li:hover:after, .menu_bluda li:focus:after{
    width: 100%;
}
.kartochki{
    display: flex;
    flex-direction: row;
}
.text1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.kartochka1{
    display: flex;
    flex-direction: column;
}
.text1 h2{
    width: 152px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 121.9%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2F2F2F;
}
.text1 p{
    width: 215px;
    font-family: 'Montserrat';
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155.4%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2F2F2F;
}
/* --------------------------- */

.menu-dish__list {
    display: flex;
    flex-direction: row;
	
	justify-content: space-between;
    align-items: baseline;

    margin-top: 225px;
}

.menu-font {
    text-align: center;
    font-weight: 600;
}

.menu-font__mini {
    margin-top: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24,86px;
}

.menu-switching__arrows {
    margin-top: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	width: 100px;

	margin-bottom: 200px;
}

.menu-switching__left-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #82BC00;
    transition: 0.1s;
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}

.menu-switching__left-arrow:hover {

    transition: 0.3s box-shadow ease-in-out,
    0.3s background-color ease-in-out;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484);
background-color: #91d401;
}

.menu-switching__right-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: #EE7700;
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}

.menu-switching__right-arrow:hover {
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.484);
    background-color: #E86100;
}

.menu-switching__right-arrow img {
    transform: rotate(180deg);
}

.menu-dish__item:hover {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-bottom: 25px;

    background-color: #EE7700;
    height: 225px;

    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);
    transition: 0.2s;
}

.menu-dish__item:hover .menu-dish__item-text {
    color: white;
    transition: 0.2s;
}

.menu-dish__item-text {
    margin-top: -50px;
}

.menu-dish__item:hover .menu-dish__details {
    visibility: visible;
    opacity: 100%;

    transition: 0.3s;
}
/*
.menu-dish__item:hover .menu-dish__dish-image {
    transition: 0.2s;
}

.menu-dish__item:hover .menu-dish__details {


    transition: 1s;
}
*/
.menu-dish__dish-image {
    filter: drop-shadow(8px 12px 44px rgba(0, 0, 0, 0.17));
}

.menu-dish__item {
    display: flex;
    flex-direction: column;
    justify-content: end;

    padding-bottom: 25px;
    border-radius: 0px 49px 49px 49px;
    height: 225px;

    transition: 0.3s;
}

.menu-dish__details {
    display: flex;
    transition: 0.2s;
    background-color: white;
    border-radius: 100%;
    width: 46px;
    min-height: 46px;

    position: relative;
    bottom: 75px;
    left: 35px;

    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;

    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.2);
}

.menu-dish__details:hover {
    background-color: lightgray;
    transition: 0.1s;
}

.popup-window {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.356);

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99;

    opacity: 100%;
    transition: 0.2s
}

.popup-window--hidden {
    visibility: hidden;
    opacity: 0%;
    transition: 0.2s;
}

.dish-popup {
    padding: 0px 15px;

    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 15px;

    padding-bottom: 25px;
}

.dish-popup__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: auto 0;

    margin-bottom: 25px;
}

.dish-popup__settings {
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: space-between;

    height: 100%;
}

.dish-popup__close-btn {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-right: 10px;

    font-weight: 800;

    cursor: pointer ;
}

.dish-popup__text {
    display: flex;
    flex-direction: column;
    width: 35%;

    justify-content: space-around;
}

.dish-popup__header {
    font-size: 28px;
    font-weight: 700;

    margin-bottom: 25px;
}

.dish-popup__description {
    margin-bottom: 15px;
}

.dish-popup__img {
    margin-right: 50px;
    filter: drop-shadow(8px 12px 44px rgba(0, 0, 0, 0.17));
}

.dish-popup__dish-weight {
    font-size: 16px;
    color: gray;
}

.dish-popup__to-order-btn {
    width: 246px;
    height: 48px;
    background-color: #EE7700;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 24px 24px 24px;

    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);	
	transition: 0.3s;

    border: 0;

    cursor: pointer;
}

.dish-popup__to-order-btn:hover {
    background-color: #ff8a16;
}

.dish-popup__settings-header {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.dish-popup__settings-add {
    display: flex;
    justify-content: center;

    margin-bottom: 25px;
}

.dish-popup__settings-button-minus {
    border-radius: 10px 0 0 10px;
}

.dish-popup__settings-button-plus {
    border-radius: 0 10px 10px 0;
}

.dish-popup__settings-button-plus, .dish-popup__settings-button-minus {
    width: 50px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}

.dish-popup__settings-button-plus:hover, .dish-popup__settings-button-minus:hover {
    background-color: gainsboro;
    transition: 0.2s;
}

.dish-popup__settings-dish-count {
    width: 100px;
    border: 1px solid gray;
    border-left: 0;
    border-right: 0;
    text-align: center;
    outline: none;
}