* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
    
}
main{
    width: 100%;
}
.container{
    max-width: 1199px;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    z-index: 1;
    width: 100%;
    min-height: 83px;
    background: linear-gradient(180deg, #EBEAEC 37.48%, rgba(235, 234, 236, 0) 86.43%);
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    line-height: 21px;
    min-height: 206px;
}
.header_menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;
}
.menu{
    max-width: 1920px;
}

.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li a{
    width: 100px;
    height: 21px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-right: 40px;
    text-decoration: none;
    color: #000;
}

.menu__link{
    font-style: normal;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: black;
    /* padding: 10px; */
    
    transition: 0.5s background-color ease-in-out,
                0.2s color ease-in-out,
                
                0.5s transform ease-in-out;
}

.logo{
    width: 227px;
    height: 60px;
    margin-right: 50px;
    margin-bottom: 25px;
}
.logo img{
    width: 100%;
}
.menu__link:hover,
.menu__link:focus{
    color: #D38B13;
    transition: 1s background-color ease-in-out,
                0.2s color ease-in-out,
                /* 0.1s box-shadow ease-in-out, */
                0.5s transform ease-in-out;
    
 
}
.btn{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    width: 101px;
    height: 20px;
    background-color:#EE7700;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 56px;
    gap: 10px;
    background: #EE7700;
    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);
    border-radius: 0px 24px 24px 24px;
    width: 213px;
    height: 46px;
    border: none;
    margin-top: 35px;
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}
.btn:hover,
.btn:focus{
    transition: 0.2s box-shadow ease-in-out,
                0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
.bg{
    background-image: url('../img/Bg.png');
    background-position: center;
    background-color: #eaeaee;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 962px;
}
.gg{
    position: relative;
    top: 5px;
}
.st{
    color:#1F1F1F;
    width: 10px;
    height: 5px;
    margin-bottom: 3px;
}
.phone{
    color: #1F1F1F;
    text-decoration: none;
    font-size: 16px;
    font-family:'Montserrat';
    line-height: 24px;
    
}
.phone:hover{
    transition: 0.5s all;
    color:#D38B13;
}
.icon_tlf{
    width: 14px;
    height: 14px;
    margin-right: 5px;
    padding-top: 1px;

}

.call{
    text-decoration: none;
    margin: 0;
    color: #1F1F1F;
    display: block;
    margin-left: 55px;
    font-size: 12px;  
    transition: 0.2s color ease-in-out;

}
.call:hover,
.call:focus{
    transition: 0.5s all;
    color: #D38B13;
    text-decoration: underline dotted #D38B13;
    transition: 0.2s color ease-in-out,
                1s text ease-in-out;
    min-width: 82px;
}
.block2 p{
    display: inline;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 121.9%;
    color:#2F2F2F;
} 
.block2{
    max-width: 493px;
}
.block2 h1{
    font-family:'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 50.78px;
    font-weight: bold;
    color:#2F2F2F;
    margin-top: 24px;
}
.block2 h2{
    margin-top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 149.4%;
    color: #2F2F2F;
}
.locazia img{
    width: 100%;
    height: 100%;
}
.locazia{
    margin-right: 8px;
}
.section4{
    min-height: 843px;
    margin: 0 auto;
    background: rgb(255,255,255); 
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 73%, rgba(238,119,0,1) 73%, rgba(238,119,0,1) 100%);

}
.tester{
    margin: 0 auto;
    max-width: 1920px;
    background-image: url(../img/orange2.png);
    background-position: right;
    background-repeat: no-repeat;
    
}
.btn2{
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    background-color:#EE7700;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 13px 56px;
    gap: 10px;
    background: #EE7700;
    box-shadow: 0px 0px 16px rgba(255, 119, 20, 0.44);
    border-radius: 0px 24px 24px 24px;
    width: 208px;
    height: 48px;
    border: none;
    transition: 0.3s box-shadow ease-in-out,
    0.3s background-color ease-in-out;
}
.btn2:hover,
.btn2:focus{
    transition: 0.2s box-shadow ease-in-out,
    0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
.block3{
    max-width: 460px;
    padding: 278px 0;
}
.block3 h2{
    width: 421px;
    height: 112px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin-bottom: 16px;
}
.block3 p{
    width: 458px;
    height: 78px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145.4%;    
    color: #2F2F2F;
    margin-bottom: 33px;
}
.con{
    display: flex;
    align-items: center;  
    justify-content: space-between;

}
.plate img{
    padding-left: 150px;
    float: right;
}
.chiken{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 307px;
    height: 221px;
    left: 500px;
    top: 510px;
    background: #FFFFFF;
    box-shadow: 0px 4px 44px rgba(0, 0, 0, 0.11);
    border-radius: 0px 33px 33px 33px;
    padding-left: 38px;
    padding-top: 27px;
}
.chiken h2{
    width: 232px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin-bottom: 8px;
} 
.chiken p{
    width: 196px;
    height: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155.4%;
    color: #2F2F2F;
    margin-bottom: 14px;
}
.slova h2{
    width: 54px;
    height: 22px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 121.9%;
    text-align: center;
    color: #EE7700;
    margin-bottom: 18px;
}
.btn3{
    display: block;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155.4%;
    color: #2F2F2F;
    border: none;
    background-color:rgb(235, 234, 236, 0);
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155.4%;
    color: #2F2F2F;
    transition: 0.4s color ease-in-out;
}
.btn3:hover,
.btn3:focus{
    color: #EE7700;
    transition: 0.3s color ease-in-out;
}

.slova img{ 
    margin-left: 5px;
    width: 20px;
    height: 15px;
}
.slider{
    display: flex;
    gap: 5px;
    padding: 0 140px ;
}
.slider img{
    width: 46px;
    height: 46px;   
}
.btngreen{
    border: none;
    border-radius: 22.7836px;
    background-color: rgb(235, 234, 236, 0);
    transition: 0.4s box-shadow ease-in-out
                ;
}
.btngreen:hover,
.btngreen:focus{
    border-radius: 22.7836px;
    transition: 0.3s box-shadow ease-in-out;
    box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.334);
}
.bntorange{
    border: none;
    background-color: rgb(235, 234, 236, 0);
}



