.container{
    max-width: 1199px;
    margin: 0 auto;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

/* общие стиливые правила для: рамок у форм, стилей текста форм и т.д. */

.type-1 {
    border-radius:5px;
    border: 1px solid #585858;
    transition: .3s border-color;
}

/* общие стиливые правила для: рамок у форм, стилей текста форм и т.д. */

/* о компании */
.aboutcompanie{
    background: rgba(255, 127, 34, 0.06);
}
.compan{
    display: flex;
}
.compani{
    margin-top: 127px;
    margin-bottom: 202px;

}
.compani h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin-bottom: 24px;
}
.compani p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2F2F2F;
    margin-bottom: 42px;
}
.photocom img{
    margin-top: -90px;
}
/* о компании */


/* Не знаете,что лучше заказать? */
.lapsha{
    min-height: 596px;
    background: url(../image/Bglapha.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBF8F8;
}
.laplap{
    background: #F8F8F8;
    box-shadow: 0px 0px 250px rgba(0, 0, 0, 0.16);
    border-radius: 30px 53px 53px 53px;
    width: 585px;
    height: 656px;
}
.laphaforma{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 102px;
    padding-right: 102px;
}
.laphaforma input{
    width:100%;
    margin:1px;
    padding:10px;

}
  .laphaforma > *:nth-child(2) {
    margin-top: 16px;
  }
  
  .laphaforma > *:nth-child(3) {
    margin-top: 32px;
  }
  .laphaforma > *:nth-child(4) {
    margin-top: 25px;
  }
  
.laphaforma h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    text-align: center;
    color: #2F2F2F;
}
.laphaforma p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #2F2F2F;    
}
.laphaforma h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #2F2F2F;
}
.laphaforma a{
    color: inherit;
}
.laphaforma label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 121.9%;
    color: #585858;
}
.laphaformabtn{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 56px;
    gap: 10px;
    background: #FF7F22;
    border-radius: 0px 24px 24px 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 90px;
    
}
.laphaformabtn:hover,
.laphaformabtn:focus{
    transition: 0.2s box-shadow ease-in-out,
                0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
/* Не знаете,что лучше заказать? */ 

 /* как сделать заказ  */
 /* удалить */
.zakaz{
    padding-bottom: 100px;
    padding-top: 100px;
    background-color: #FBF8F8;
}
.card h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 155.4%;
    color: #2F2F2F;
}
.card p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155.4%;
    color: #2F2F2F;
}
.card{
    background: #FFFFFF;
    box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.04);
    border-radius: 0px 33px 33px 33px;
    width: 276px;
    height: 278px;
    padding-left: 26px;
    padding-top: 42px;
    padding-right: 26px;
    padding-bottom: 42px;
}
.allzakaz h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    text-align: center;
    padding-bottom: 60px;
}
.howzahaz {
    display: flex;
    justify-content: center;
    gap: 31px;
}
.card {
    padding: 16px;
    width: 300px;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.1);
    background-color: #EE7700;
}
.card:hover a {
    display: flex;
    text-decoration: none;
    
}
.card:hover h2, .card:hover p{
    color: white;
}
.card a{
    display: none;
    color: white;
    padding: 8px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 155.4%;
    color: #FFFFFF;
    justify-content: left;

}
 /* как сделать заказ конец */




 /* <!-- блок отзывов --> */
.otzisvs{
    background-color: #FBF8F8;
}
.leftotziv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.textnashim {
    margin-right: 16px;
    width:50%;
}
.cardotziv {
    display: flex;
    flex-direction: column;
}
.firscard {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-right: 16px;
    margin: 16px;
}
.textnashim h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    color: #2F2F2F;
    margin-bottom: 18px;
}
.textnashim h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
    color: #2F2F2F;
    margin-bottom: 42px;
}
.textnashim a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 121.9%;
    text-align: center;
    color: #2F2F2F;
    text-decoration: none;
}
a:hover, a:focus{
    filter:contrast(40%);
    text-decoration: underline;
}
.firscard p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155.4%;
    color: #2F2F2F;
}
.firscard b{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 155.4%;
    color: #2F2F2F;
}
.firscard{
    display: flex;
    flex-direction: row;
    gap: 22px;
    background: #FFFFFF;
    box-shadow: 4px 4px 33px rgba(0, 0, 0, 0.08);
    border-radius: 0px 22px 22px 22px;
    width: 482px;
    height: 162px;
}
.one{
    display: flex;
    justify-content: flex-end;
}
.imgfirstcard{
    margin-top: 16px;
}
.textfirstcard{
    margin-top: 29px;
}
.firscard_two{
    display: flex;
    flex-direction: end;
}
.carsotziv{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.firstcard img {
    left: 50%;
    transform: translateX(-50%);
    height: auto;
}
 /* <!-- блок отзывов --> */



 /* otziv start ----------------------------------------------- */
.otziv{
    min-height: 430px;
    background: url(../image/Bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBF8F8;
}
.vpechatleniya{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 98px;
}
.vpechatleniya h2{
    width: 588px;
    height: 87px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.vpechatleniya p{
    width: 637px;
    height: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.otzivbtn{
    display: flex;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: 14px 56px;
    gap: 10px;
    width: 246px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 0px 24px 24px 24px;
}
.otzivbtn a{
    text-decoration: none;
    width: 134px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #82BC00;
}
.zapyatie{
    display: flex;
    top: -100px;
}
.zapyatie img{
    position: relative;
    top: -100px;
    width: 278px;
    height: 212px;
}
.block10{
    display: flex;
    flex-direction: row;
}
.btnmodal{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 56px;
    gap: 10px;
    background: #FFFFFF;
    border-style: none;
    border-radius: 0px 24px 24px 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #82BC00;
}
.btnmodal:hover {
    background-color: #FFF8F2;
    color: #EE7700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* otziv end ------------------------------------------------------------------------*/







/* article start ----------------------------------------------------------------*/
.articles{
    min-height: 1011px;
    display: flex;
    align-items: center;
    background-color: #FBF8F8;
}
.first:hover, .first:focus{
    filter: brightness(65%);
    transition: 0.5s;
}
.gridaart{
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 355px 300px;
    grid-gap: 30px;
}

.gridaart img{
    border-radius: 10px;
} 
.first1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.first1{
    background-image: url('../image/rasgrus.png');
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 40px; 
    border-radius: 10px;
}
.first2{
    grid-column: 3 / 4;
    grid-row: 1 /3;
}
.first2{
    background-image: url('/image/ctodet.png');
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 40px; 
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 10px;
    padding-bottom: 80px;
}
.first3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.first3{
    background-image: url('/image/rasgrus.png');
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 40px; 
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 10px;
    padding-bottom: 80px;
}
.first4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.first4{
    background-image: url('/image/gotovim.png');
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end; 
    padding: 40px; 
    overflow: hidden;
    word-wrap: break-word;
    border-radius: 10px;
    padding-bottom: 80px;
}
.gridaart p{
    width: 88px;
    height: 25px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 155.4%;
    color: #FFFFFF;
}
.gridaart h4{
    width: 436px;
    height: 37px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 155.4%;
    color: #FFFFFF;
}
.styletex h2{
    margin-bottom: 24px;
    width: 588px;
    height: 41px;
    left: 363px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.tipoallstatii{
    text-align: right;
    margin-top: 50px;
}
.tipoallstatii a{
    width: 106px;
    height: 22px;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F2F2F;
    text-decoration: none;
}
.tipoallstatii:hover, .tipoallstatii:focus{
    filter:contrast(40%);
    text-decoration: underline;
}
/* article end --------------------------------------------------------------------------*/



/* footer start ------------------------------------------------------------------------*/
.footer{
    background: url(/image/Bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FBF8F8;
    min-height: 968px;
}
.foterbg{
    padding-top: 98px;
    padding-bottom: 101px;
    width:  551px;
    height: 516px;
    
}
.foterbg h2{
    margin-bottom: 17px;
    width: 550px;
    height: 112px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 121.9%;
    text-transform: uppercase;
    color: #FFFFFF;

}
.foterbg h3{
    margin-bottom: 27px;
    width: 526px;
    height: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
    color: #FFFFFF;
}
.foterbg label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 121.9%;
    color: #FFFFFF;
}

.ftr1{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 39px;
}
.ftr2{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}
.ftr3{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 200px;
    margin-top: 23px;


}
.ftr4{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 200px;
    margin-top: 23px;
    margin-bottom: 50px;

}

.btnfoot{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 50px;
    gap: 10px;
    border: none;
    position: absolute;
    width: 196px;
    height: 48px;
    background: #EE7700;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #FFFFFF;
    border-radius: 0px 24px 24px 24px;
    transition: 0.3s box-shadow ease-in-out,
                0.3s background-color ease-in-out;
}
.btnfoot:hover,
.btnfoot:focus{
    transition: 0.2s box-shadow ease-in-out,
                0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
.infofoot{
    backdrop-filter: blur(20px);
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.infofoot a{
    padding-right: 65px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;  
    text-decoration: none;
}
.infofoot input{
    padding-right: 65px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
}

/* --------- footer end ------------------------------------------------------------------------*/




/* ----------- модальное окно -----------------------------------------------------*/
.modal {
  display: none; /* скрыть модальное окно по умолчанию */
  position: fixed; /* позиционирование по экрану */
  z-index: 9999; /* установить наивысший уровень z-index */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* добавить полосы прокрутки, если содержимое окна больше экрана */
  background-color: rgba(0, 0, 0, 0.5); /* затемнить фон */
}
.modal-content {
  background-color: #fefefe; 
  margin: 15% auto;
  padding: 20px;
  border-radius: 25px;
  max-width: 572px; 
}
.modalf{
    display: flex;
    flex-direction: column;
    padding: 60px;
    padding-top: 10px;
    align-items: flex-start
}
.modalf input{
    padding-right: 200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.modalf textarea{
    padding: 10px;
    margin-bottom: 20px;
}
.modalf label{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 121.9%;
    color: #585858;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.btnwinmod{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 56px;
    gap: 10px;
    background: #FF7F22;
    border-radius: 0px 24px 24px 24px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    flex: none;
}
.review {
    width: 380px;
    height: 200px;
    overflow: auto;
    resize: none;
  }
  input::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121.9%;
    color: rgba(100, 100, 100, 0.56);
    width: 100%;
  }
  textarea::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121.9%;
    color: rgba(100, 100, 100, 0.56);
  }
.btnwinmod:hover,
.btnwinmod:focus{
    transition: 0.2s box-shadow ease-in-out,
                0.2s background-color ease-in-out;
    background-color: #E86100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.484);
}
.modal h5{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 121.9%;
    display: flex;
    color: #2F2F2F;
    justify-content: start;
    padding-top: 20px;
    margin-left: 45px;
    margin-bottom: 10px;
}
/* ----------- модальное окно -----------------------------------------------------*/

@media (max-width: 980px) {
    img[src="./image/Group239.png"] {
      display: none;
    }
  }
  
