
.container{
    max-width: 1199px;
    margin: 0 auto;
    position: relative;
}

 /* otziv start  */
.otziv{
    min-height: 430px;
    background: url(../image/Bg2.png);
    background-repeat: no-repeat;
    background-position: center;
}
.vpechatleniya{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 98px;

}
.vpechatleniya h1{
    width: 588px;
    height: 87px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.vpechatleniya p{
    width: 637px;
    height: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.otzivbtn{
    display: flex;
    border: none;
    flex-direction: row;
    align-items: center;
    padding: 14px 56px;
    gap: 10px;
    width: 246px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 0px 24px 24px 24px;
}
.otzivbtn a{
    text-decoration: none;
    width: 134px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #82BC00;
}
.zapyatie{
    display: flex;
    top: -100px;
}
.zapyatie img{
    position: relative;
    top: -100px;
    width: 278px;
    height: 212px;
}
.block10{
    display: flex;
    flex-direction: row;
}

/* otziv end */

/* article start */
.articles{
    min-height: 1011px;
    display: flex;
    align-items: center;
}
.gridaart{

    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2);
    grid-gap: 30px;
}
.gridaart img{
    border-radius: 10px;

}
.first1{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.first2{
    grid-column: 3 / 4;
    grid-row: 1 /3;
}
.first3{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.first4{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.styletex h1{
    margin-bottom: 24px;
    width: 588px;
    height: 41px;
    left: 363px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 121.9%;
    color: #2F2F2F;
}
.tipoallstatii{
    width: 127px;
    float: right;
    margin-top: 25px;
    
}
.tipoallstatii a{
    width: 106px;
    height: 22px;  
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #2F2F2F;
    text-decoration: none;
}

/* article end */


/* footer start */
.feedback{
    background: url(../image/Bg.png);
    min-height: 986px;
    background-repeat: no-repeat;
    background-position: center;
}
.foterbg h1{
    margin-bottom: 17px;
    width: 550px;
    height: 112px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 121.9%;
    text-transform: uppercase;
    color: #FFFFFF;

}
.foterbg h2{
    margin-bottom: 27px;
    width: 526px;
    height: 55px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 155.4%;
    color: #FFFFFF;
}
.foterbg{
    padding-top: 98px;

}
.foterbg input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 50px;
    gap: 10px;
    position: absolute;
    width: 196px;
    height: 48px;
    border: none;
    background: #EE7700;
    border-radius: 0px 24px 24px 24px;
}
.btnfoot{
    width: 96px;
    height: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.9%;
    color: #FFFFFF;
}

/* footer end */


